<h1>Mypouch#face</h1>
<form action="/mypouch/survey" enctype="multipart/form-data" method="post">
  <label for="user_face">Face</label>
  <input accept="image/png image/gif image/jpg" type="file" name="user[face]" multipl="true" id="user_face">
  <input type="submit" value="Next">
</form>
