<article>
  <h1>Mypouch#index</h1>
  <p>
    <img src="<%= current_user.profile.main %>" alt="" />
  </p>
  <%= link_to 'Edit My Info', edit_user_registration_path %><br>
  <%= link_to '피부 분석 바로가기', '/mypouch/face'%>
</article>