<h1>Mypouch#survey</h1>
<img src="<%= @user.face.main %>" alt="">

<div class="s_n"></div>
<div class="s_q"></div>

<form action="/mypouch/keyword" method="post">
  <input type="hidden" id="skintype" name="skintype">
  <input type="hidden" value="관심 키워드 선택하러 가기" class="btn btn-primary" id="survey-btn">
</form>

<div class="blank">
</div>


<br>
<%= link_to '다음으로 넘어가기', '/mypouch/keyword' %>
