<form action="/contents/<%= @content.id %>/comments" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="aoEtOXaS4AKwG/NxTe14ZUMLKIeKSYz6D7zA0C3CLxZB/wwMO4p87WJeejQmR8HMjJBvEeXCiSATeJ4k3t4rvw==">
  <div class="comment_add">
    <div class="field1">
      <div class="cir"></div>
    </div>

    <div class="field2">
      <input placeholder="댓글을 적어주세요!" type="text" name="comment[body]" id="comment_body">
    </div>

    <div class="field3">
      <input type="submit" name="commit" value="등록" data-disable-with="등록">
    </div>
  </div>
</form>
