<%= form_for([@content, @content.comments.build]) do |f| %>
  <div class="comment_add">
    <div class="field1">
      <div class="cir"></div>
    </div>
    <div class="field2">
      <%= f.text_field :body, placeholder:"댓글을 적어주세요!"  %>
    </div>
    <div class="field3">
      <%= f.submit%>
    </div>
  </div>
<% end %>
