/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// 기본값
body, ul, li{ margin : 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; letter-spacing: -1px;}
ul, li { list-style: none; margin:0; padding: 0; }
a { text-decoration: none; color:black; }
input[type="password"],input[type="text"],input[type="email"] { padding-left:10px;line-height:30px;background: none; border:0; border-bottom:2px solid #ccc; font-size:16px; transition:.5s;}
input[type="password"]:hover,input[type="text"]:hover,input[type="email"]:hover { border-bottom:2px solid rgb(70, 130, 234); transition:.5s;}
input[type="password"]:focus,input[type="text"]:focus,input[type="email"]:focus { border-bottom:2px solid #6B46EA; transition:.5s; outline: none;}
input:-webkit-autofill{  -webkit-box-shadow: 0 0 0 30px #fff inset ; -webkit-text-fill-color: #000; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{ transition: background-color 5000s ease-in-out s; }
// 기본값

.container {
    padding:96px 0 30px;
    width: 1200px;
    min-height:700px;
    margin: 0 auto;
    border: 1px solid #EEEEEE;
}
.top-con {
    width: 1200px;
    margin: 0 auto;
}

header{
    position: fixed;
    width:100%;
    height:96px;
    border-bottom: 1px solid #EEEEEE;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.04);
    background : #fff;
    z-index:300;

    .main_logo{
        margin : 33px 40px 33px 24px;
        float: left;
        width:102px;
        height:46px;
        background : image-url('logo_main.png') no-repeat;
        background-size: 100%;
    }
    .nav-main{
        ul{
            li{
                font-weight: 700;
                margin-right:25px;
                margin-top:59px;
                float: left;

                a{
                    padding-bottom:9px;
                }
            }
        }
    }

    .nav-auth{
        ul{
            li{
                font-weight: 700;
                margin-right:25px;
                margin-top:59px;
                float: right;

                a{
                    color:#868686;
                }
            }
        }
    }
}

article{
    width:1160px;
    padding: 0 20px;
}

footer{
    margin-top : -10px;
    width : 100%;
    height: 210px;
    background-color: #f7f7f7;
    letter-spacing: 0px;
    font-weight: 500;

    div{
        div{
            position: relative;
        }

        .f_button{
            width:100%;
            margin:0;
            height:42px;
            line-height: 40px;
            border-bottom:1px solid #ddd;

            ul{
                margin-left:30px;

                li{
                    float:left;
                    margin-right:30px;
                }
            }
            .f_ico{
                top:4px;

                img{
                    margin-right:15px;
                }
            }
        }

        .f_title{
            left: 30px;
            top : 25px;
            width:55px;
            height:30px;
            background : image-url('TL.png') no-repeat;
            background-size: 100%;
            
        }

        .f_note{
            color:#777;
            left: 30px;
            top : 45px;
            font-size:13px;
        }
    }

}


.m_sub_title{
    width:1200px;
    height:45px;
    background-color:white;
    border-bottom: 1px solid #EEEEEE;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.04);
    position: fixed;
    z-index:299;
    ul{
        text-align: center;
        li{
            margin: 10px;
            display:inline-block;
            font-weight: 700;
            a{
                padding-bottom: 7px;
                color:#555;
            }
        }
    }
}

.m_sub_title_blank{
    height:70px;
    width: 100%;
}

.signin{
    border:1px solid #eee;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.04);
    width:500px;
    height:400px;
    padding-top:40px;
    margin:50px auto 0;
    text-align: center;
    border-radius: 30px;

    .signin_text{
        padding:0 50px 40px;
        text-align: left;

        span{
            font-size:25px;
        }
    }
    input[type="password"],input[type="email"] {
        height:30px;
        width: 250px;
        margin-bottom: 10px;
    }

}