// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.con_tag{
    margin-top:40px;
    margin-left:14px;
    font-weight: 600;
    font-size:18px;
    color:#646EAB;
}
.con_thumb{
    margin-top:23px;
    width:100%;
    height:120px;
    border-bottom: 1px solid #D6D6D6;

    img{
        width:120px;
        height:90px;
        display: inline-block;
        box-shadow: 0 3px 20px rgba(0,0,0,0.16);
    }

    .con{
        margin:0 10px 0 14px;
        float:left;

        .con_title{
            font-weight: 100;
            font-size:40px;
            line-height:56px;
        }

        .con_s_title{
            position: relative;
            left:3px;
            font-weight: 600;
            font-size:18px;
            color:#989898;
        }
    }

    .con:last-child{
        float:right;
    }

}
.con_body{
    padding:100px 80px;

    img{
        max-width: 1000px;
        box-shadow: 0 3px 20px rgba(0,0,0,0.16);
    }
}
