// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.custom{
    .content_main1{
        .i1{
            .in1{
                padding:5px 10px;
                float:left;
            }
            .in2{
                
            }
        }
    }
}



.con_tag{
    margin-top:40px;
    margin-left:14px;
    font-weight: 600;
    font-size:18px;
    color:#646EAB;
}
.con_thumb{
    margin-top:23px;
    width:100%;
    height:120px;
    border-bottom: 1px solid #D6D6D6;

    img{
        width:120px;
        height:90px;
        display: inline-block;
        box-shadow: 0 3px 20px rgba(0,0,0,0.16);
    }

    .con{
        margin:0 10px 0 14px;
        float:left;

        .con_title{
            font-weight: 100;
            font-size:40px;
            line-height:56px;
        }

        .con_s_title{
            position: relative;
            left:3px;
            font-weight: 600;
            font-size:18px;
            color:#989898;
        }
    }

    .con:last-child{
        float:right;
    }

    .btn_likes{
        border-radius: 50px;
        border:1px solid #EA6378;
        padding: 7px 0;
        float: left;
        margin:40px 10px 0 0;

        a{
            padding: 7px 25px;
            color:#EA6378;

            .ico_heart{
                width: 18px;
                height: 18px;
                background : image-url('ico_heart_pink.png') no-repeat;
                background-size: 100%;
                display:inline-block;
                position: relative;
                top:3px;
                margin-right:7px;
            }
        }
    }

    .btn_views{
        border-radius: 50px;
        border:1px solid #333;
        padding: 7px 25px;
        text-align: center;
        float: left;
        margin-top:40px;

        .ico_views{
            width: 23px;
            height: 18px;
            background : image-url('ico_view.png') no-repeat;
            background-size: 100%;
            display:inline-block;
            position: relative;
            top:6px;
            margin-right:7px;
        }
    }

}
.con_body{
    padding:90px 80px;

    img{
        max-width: 1000px;
        box-shadow: 0 3px 20px rgba(0,0,0,0.16);
    }
}

.btn_likes_bot{
    width:90px;
    margin:0 auto 50px;
    border-radius: 50px;
    border:1px solid #EA6378;
    padding: 7px 0;
    text-align: center;

    a{
        padding: 7px 25px;
        color:#EA6378;

        .ico_heart{
            width: 18px;
            height: 18px;
            background : image-url('ico_heart_pink.png') no-repeat;
            background-size: 100%;
            display:inline-block;
            position: relative;
            top:3px;
            margin-right:7px;
        }
    }
}

.comment_add{
    padding-top:38px;
    height:90px;
    border-bottom: 1px solid #D6D6D6;

    .field1{
        text-align: center;
        width:140px;
        height:100px;
        float:left;

        .cir{
            background:#333;
            width:40px;
            height:40px;
            border-radius: 50px;
            display: inline-block;
        }
    }
    .field2{
        float: left;
        height:100px;

        input[type="text"]{
            width:815px;
        }
    }
    .field3{
        float: left;
        width:195px;
        height:100px;
        text-align: center;

        input[type="submit"]{
            cursor: pointer;
            border:0;
            width:95px;
            height:34px;
            font-size:14px;
            background:#EDEDED;
            border-radius: 50px;
            display:inline-block;
        }
    }
}


.comment_view{
    .field11{
        width:140px;
        float:left;
        text-align: center;
        margin-top:15px;

        .cir1{
            background:#333;
            width:40px;
            height:40px;
            border-radius: 50px;
            display: inline-block;
        }
    }
    .field22{
        width:890px;
        float: left;
        margin-top:20px;

        .comment_time{
            color:#C7C7C7;
        }
    }
    .field33{
        margin-left:15px;
        width:100px;
        min-height:120px;
        display : inline-block;
        margin-top:20px;
    }
}

.comment_num{
    float:right;
    color:#c7c7c7;
}