// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { margin: 0; padding: 0; }
// ul, li { list-style: none; }
a { text-decoration: none; }

.container {
  width: 1200px;
  margin: 0 auto;
}

// img { width: 100%; }
