<%= form_for([@product, @product.reviews.build]) do |f| %>
  <p>
    <div class="field" style="margin-bottom:-10px;">
      <div id="star-rating"></div>
    </div>

    <div class="field">
      <%= f.label :body %>
      <%= f.text_field :body %>
    </div>

    <div class="field">
      <%= f.submit %>
    </div>
  </p>
<% end %>

<script>
  $('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[score]'
  });
</script>
